header{
    padding-left: 30px;
}

body{
    min-height: 100vh;
    place-items: center;
}
.container{
    padding: 30px 30px;
    width: 200px;
    height: 120px;
}

.container img{
    width:20%;
    height: auto;
}

.dropdown-list{
    display: flex;
    flex-direction: column;
}

.select_checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50rem;
    padding-bottom: 8px;
}


.select{
    padding:10px 10px;
    cursor: pointer;
    width: 10rem;
    padding-right: 50px;
}

.select:focus, 
.select:hover{
    outline: none;
    border: 1px solid #111111;
}

.select.option{
   background-color:  red;
}


.option-input:checked::after{
    animation: click-wave 0.75s;
    background: #40d0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio
{
    border-radius: 50%;
}

.option-input.radio::after{
    border-radius: 50%;
}

@keyframes click-wave{
    0%{
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100%{
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}


.option-input{
    position: relative;
    top: 8px;
    right:0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 10rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input.checkbox{
    margin-right: -10rem;
}

.buttons{
    color: white;
    padding-left: 30px;

}

.botao1{
    width: 5rem;
    background-color: green; 
    color: white;
    margin-right: 40px;
}

.botao2{
    width: 5rem;
    background-color: rgb(211, 20, 20);
    color: white;
}